.doned_task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.doned_task strong {
  color: var(--indigo-400);
  font-size: 0.875rem;
}

.doned_task span {
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.625rem;
  font-weight: bold;
}