.input_area form {
  transform: translateY(-50%);
  display: flex;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.input_area input {
  width: 39.875rem;
  height: 3.375rem;
  background: var(--gray-500);
  border: 0.0625rem solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 0.875rem;
  color: var(--gray-100);
}

.input_area button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 0.25rem;
  width: 5.625rem;
  height: 3.375rem;
  background: var(--sxy-700);
  border-radius: 0.5rem;
  border: transparent;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4;
  cursor: pointer;
}

